In [44]:
import pandas as pd
import requests
import json
import pickle

In [45]:
data_path ="/content/drive/MyDrive/Aimtech/"
# data_path ="./"

In [46]:
df = pd.read_csv(data_path +'dialect_dataset.csv')

In [47]:
df.head()

                    id dialect
0  1175358310087892992      IQ
1  1175416117793349632      IQ
2  1175450108898565888      IQ
3  1175471073770573824      IQ
4  1175496913145217024      IQ

In [48]:
df.id= df.id.astype(str)

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458197 entries, 0 to 458196
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       458197 non-null  object
 1   dialect  458197 non-null  object
dtypes: object(2)
memory usage: 7.0+ MB

In [50]:
df.dialect.unique()

array(['IQ', 'LY', 'QA', 'PL', 'SY', 'TN', 'JO', 'MA', 'SA', 'YE', 'DZ',
       'EG', 'LB', 'KW', 'OM', 'SD', 'AE', 'BH'], dtype=object)

### Getting the Data
**get the text 1000 rows at a time then add them all to the dataframe.**

In [51]:
url = 'https://recruitment.aimtechnologies.co/ai-tasks'
# ids = ['1175358310087892992','1175416117793349632']
text=[]
# df.shape[0]
for i in range(0,df.shape[0],1000):
    ids = df.id[i:i+1000].tolist()
    x = requests.post(url, json = ids)
    # print(x.text)
    res = json.loads(x.content.decode("UTF-8"))
    text+=[res[id] for id in ids]

In [54]:
df["text"] = text

In [55]:
df.head()

,id,dialect,text
0,1175358310087892992,IQ,@Nw8ieJUwaCAAreT ŸÑŸÉŸÜ ÿ®ÿßŸÑŸÜŸáÿßŸäÿ© .. ŸäŸÜÿ™ŸÅÿ∂ .. Ÿäÿ∫Ÿäÿ± .
1,1175416117793349632,IQ,@7zNqXP0yrODdRjK ŸäÿπŸÜŸä Ÿáÿ∞ÿß ŸÖÿ≠ÿ≥Ÿàÿ® ÿπŸÑŸâ ÿßŸÑÿ®ÿ¥ÿ± .. ÿ≠...
2,1175450108898565888,IQ,@KanaanRema ŸÖÿ®ŸäŸÜ ŸÖŸÜ ŸÉŸÑÿßŸÖŸá ÿÆŸÑŸäÿ¨Ÿä
3,1175471073770573824,IQ,@HAIDER76128900 Ÿäÿ≥ŸÑŸÖŸÑŸä ŸÖÿ±Ÿàÿ±ŸÉ Ÿàÿ±Ÿàÿ≠ŸÉ ÿßŸÑÿ≠ŸÑŸàŸáüíê
4,1175496913145217024,IQ,@hmo2406 ŸàŸäŸÜ ŸáŸÑ ÿßŸÑÿ∫Ÿäÿ®Ÿá ÿßÿÆ ŸÖÿ≠ŸÖÿØ üå∏üå∫

### Saving the new data including the text.

In [56]:
# saving the data as a pickle file to reuse later
with open(data_path+"dialect_text.pickle", "wb") as f:
    pickle.dump((df),f)

In [57]:
df.to_csv(data_path+"dialect_text.csv")